.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}