.social {
    cursor: pointer;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.social:hover {
    transform: scale(1.1);
}

.linktext:hover {
    color: #eab308;
}

.linktext {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.025em;
    font-size: 1.125rem;
    color: var(--ifm-color-content-secondary);
    line-height: 1.75rem;
    cursor: pointer;
}